.HomePage {
    background-color: #f5f5f5;
}

.Card {
    display: flex;
}

.CardDetails {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.CardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 3;
}

.CardActions {
    display: flex;
    flex-grow: 1;
}

.CardMedia {
    flex-basis: 60%;
}
